[2018-08-03 04:25] amarts opened #1 "RFE: Initial volume of Gluster in GCS"
We should go with replica 3 (1x3) volume type, and below config in my opinion in GCS. We will start with bare-minimum volume options, and then add features along the way.

For mvp0:

Brick Graph:
[code]

Client graph: (Goal, all applications should run, performance next).
[code]

I will start another issue with Options available in each of these translators, and we have to agree to the default opt

[2018-09-17 14:53] JohnStrunk opened #2 "See if wafflebot is working"

[2018-09-17 15:16] JohnStrunk commented on #2
I declare victory!

[2018-09-17 15:16] #2 closed

[2018-09-20 18:36] amarts opened #7 "Options to consume minikube"
The PR #6 adds support to kubespray based k8s install. Would like to know what is the major difference between minikube and this, and what it takes to support minikube in future.

[2018-09-21 17:12] kshlm commented on #7
Just a few points to note.
- Minikube only sets up a single node kube cluster. There are/were plans to support a multinode setup, but I've not followed up what's happened.
- Both minikube and the vagrant setup in #6 result in libvirt vm(s) being created.
- AFAIK, the there is no way to attach additional disks to the minikube VM using the minikube command itself. Though you can still add additional

[2018-09-23 18:14] amarts opened #8 "Update README with proper installation steps"
Current README talks about gluster-k8s having installation script.. Provide Install section in readme, and then also detail out what the repo is about. (or explain first, and then give detail about installation etc.). I prefer to have table of content etc, so people can choose to jump ahead if they know what the project is.

[2018-09-24 13:52] JohnStrunk opened #9 "Create next several milestones & associated issues"
This is to track the work of creating the next several (cross-repo) milestones for GCS and ensuring issues are created and properly assigned to those milestones.

- [ ] GCS-alpha1
- [ ] GCS-beta0
- [ ] GCS-1.0

[2018-09-24 14:50] JohnStrunk commented on #9
Milestones have been created across the repos listed above. AIs to repo owners to ensure issues are tagged properly:
- @amarts glusterfs
- @atinmu glusterd2
- @JohnStrunk anthill, csi
- @sabose gluster-prometheus (Sahina, if you're not the correct person, please correct me)

[2018-09-25 11:42] rmadaka opened #10 "Deleted gd2 container status showing as offline in gluster peer status"
Description:
Delete gd2 container from gcs setup, deleted gd2 container status showing as offline in gluster peer status.

How to repro:
-> Once gcs setup is ready, all peers will be in online state.
-> Delete any one gd2 container from gcs setup or reboot any worker node
-> GD2 container will be deleted and new GD2 container will get create automatically.
-> Then verify gluster peer status, newly

[2018-09-25 13:15] rmadaka opened #11 "Unexpected volume behaviors"
-> Create two PVCs (PVC1, PVC2)
-> Mounted two PVCs to one app pod and ran I/O's on mount point.
-> Again above two PVCs mounted to 3 replica controller app pods and ran I/O's on both the mount points.
-> Deleted one replica controller app pod, rc app pod came up automatically with same mount points and no data loss found.
-> Then tried delete PVC1  which is in mounted state, PVC1 status went to t

[2018-09-25 18:34] JohnStrunk commented on #11
Please check the logs from the provisioner `csi-provisioner-glusterfsplugin-0`. I suspect you will find errors from when it attempted to delete the PV. It may still be retrying as well.

Assuming you found errors, we should try and figure out why the bricks are offline. @kshlm may be able to help here.

[2018-09-26 10:14] rmadaka commented on #11
@JohnStrunk  yes, i am able to see below error repeatedly from csi-proviosioner logs.

E0925 12:45:35.500551       1 controller.go:1174] Error scheduling operaion "delete-pvc-0f903cb5bfe111e8[1ce7fda0-bfe1-11e8-aa4f-525400018951]": Failed to create operation with name "delete-pvc-0f903cb5bfe111e8[1ce7fda0-bfe1-11e8-aa4f-525400018951]". An operation with that name failed at 2018-09-25 12:43:35.5864

[2018-09-26 10:57] Madhu-1 commented on #11
@rmadaka can you paste the `peer list` output

I feel after PVC creation somewhere glusterd2 container got restart
[code]
I think due to the container restart newly created gd2 container is getting new IP and adding itself to the peer list with new IP address, and as keep-alive of previously running container will get expired and the node will be marked as `offline` or `not online`.
when CSI tries

[2018-09-26 11:04] rmadaka commented on #11
@Madhu-1

[code]

[2018-09-26 11:29] Madhu-1 commented on #11
[code]
due to gd2 container restart Host IP got changed as you can compare `HOST` in above response and `PEER ADDRESSES` in peer list response is `not online` , so for stopping the volume  old IP's are not rechable

[2018-09-26 19:53] JohnStrunk commented on #11
I had assumed we were still using `net=host`, but in checking the pod manifest, we're not :tada: : https://github.com/gluster/gcs/blob/master/deploy/templates/gcs-manifests/gcs-gd2-cluster.yml.j2

So now we need to figure out the solution to the changing IP addresses. I'm wondering if we fix the UUID problem in #10 whether gd2 will update the IP addresses. @Madhu-1 any idea?

[2018-09-27 04:01] aravindavk commented on #11
Cluster operations may work if IP changes and UUID remains same. But Glusterd2 should re-generate client Volfiles(and also Cluster Volfiles) and notify clients about the IP change.

    volume gv1-client-0
        type protocol/client
        option remote-host <IP>
    end-volume

@amarts @atinmu will client reconfigure client understands `remote-host` changes?

[2018-09-27 04:07] amarts commented on #11
yes, it would allow the clients to get the new option, and reconfigure! Good to test it before saying it is ready!

[2018-09-27 04:41] Madhu-1 commented on #11
but what happens for already mounted volumes [old volumes will be mounted with old IP's (which is already changed and not reachable) ]

a possible temporary solution to fix this problem is
*  Retain node UUID
*  Allow running glusterd2 containers on the host network

[2018-09-27 04:43] Madhu-1 commented on #11
* we may face issue for already mounted volumes
* if IP changes and UUID remains same, GD2 will add new IP to the ETCD but it wont delete old IP address

[2018-09-27 04:44] kshlm commented on #10
@JohnStrunk Persisting `/var/lib/glusterd2` will fix this. GD2 should update the stored address once it restarts. But we'd need to verify that the volfiles are correctly regenerated, notifications are sent to the clients, and that the clients correctly detect that the address to the brick has changed and reconfigure themselves.
I'm pretty sure the clients would correctly reconfigure themselves. I'

[2018-09-27 04:51] atinmu commented on #10
We don't regenerate volfiles (and notify clients) on glusterd restart
AFAIK. The volfiles are only regenerated when there's any change to the
volume config.

On Thu, Sep 27, 2018 at 10:14 AM Kaushal M <notifications@github.com> wrote:

[2018-09-27 05:11] kshlm commented on #11
Continuing on my from my [comment][1] in #10, we can easily get the peer-id persisted across restarts of the gd2 pods. So we'd need to ensure that we correctly regenerate volfiles and notify clients of the changes.

I'm thinking of an alternate approach to possibly solve this.

The problems being faced now is because GD2 is using IP addresses of the pods and because they could change. If instead w

[2018-09-27 18:06] JohnStrunk commented on #11
I think this can be handled as long as the CSI driver uses the `glusterd2-client` Service. I've got an issue open over in CSI (gluster/gluster-csi-driver#14) that would have the driver use the service for provisioning and mounting.

It sounds like the CSI change + ensuring volfile gets regenerated would make us robust to pod IP change. Correct?

[2018-09-27 18:09] JohnStrunk commented on #11
@kshlm
I'm almost positive we're going to end up w/ a Deployment per GD2 pod in the end, so the Service per pod is a option if we must, but I think we'd be better off if we can push the volfile update to clients.

[2018-09-30 17:16] JohnStrunk opened #12 "Helm chart to deploy gcs"
I've been looking into building a helm chart to deploy gcs.

My hope is to break the dependency on Ansible so it's easier to get it running on clusters that aren't started with the kubespray templates in this repo. That should make it easier for people to try out on their personal clusters.

I will update this issue as things progress. It anyone else is interested, I'm happy to collaborate.

[2018-09-30 21:51] jayunit100 commented on #12
I might be able to help test.  Is this going to possibly run without the need for a first class PV? I’d love to have gluster replicated across ephemeral storage for persistent but not mission critical data.

[2018-10-01 19:40] JohnStrunk commented on #12
@jayunit100 GD2 is currently consuming raw devices from `/dev`. If you don't want to use actual devices, you may be able to make loop devices on your host and expose those to the gluster pods for testing.

[2018-10-03 18:59] JohnStrunk commented on #9
Following up on my AI from today's meeting, I have moved everything that was in the alpha1 & beta0 milestones to the following labels: GCS/alpha1, GCS/beta0. I have not assigned any issues to GCS/1.0 pending a decision on actual 1.0 content.

[2018-10-08 09:47] rmadaka opened #15 "One of the etcd container got deleted automatically, two of the etcd container status went to completed state"
1) Create two pvcs, mounted one pvc to app pod.
2) Ran I/O's on app pod
3) Then delete the volume from GD2 container, volume deleted successfully
4) Then try delete the pvc from  kubernetes master  node.
5) PVC status went to terminating state.
6) Then deleted the app pod where pvc is mounted.
7) Afterwards PVC deleted successfully.
8) Next day when i logged in to setup. Setup went to below state.

[2018-10-08 12:59] rmadaka commented on #15
I am able to repro this issue.  Second time what i have tried, providing steps below.

1. Create two pvcs, mounted two pvcs to 3 replica controller app pods.
2. Then ran I/O's on both the mount points.
3. Then deleted both the volume from GD2 container, volumes deleted successfully
4. Then try delete both the pvc from kubernetes master node.
5. PVCS status went to terminating state.
6. Then delete

[2018-10-09 13:50] rmadaka opened #17 "glustercli commands are failing on gd2 containers"
1) Created gcs setup with latest  repo.using vagrant
2) once setup is up, all pods are running successfully
3) Then i have logged in to one of the gd2 container.
4) If i try to perform glustercli commands failing with below errors.

[root@kube1-0 /]# glustercli peer status
Failed to get Peers list

Failed to connect to glusterd. Please check if
- Glusterd is running(http://127.0.0.1:24007) and rea

[2018-10-09 13:53] rmadaka commented on #17
Found below errors from logs:

time="2018-10-09 13:04:39.643145" level=warning msg="could not read store config file, continuing with defaults" error="open /var/lib/glusterd2/store.toml: no such file or directory" source="[config.go:128:store.GetConfig]"
time="2018-10-09 13:04:44.648826" level=error msg="failed to start embedded store" error="context deadline exceeded" source="[embed.go:36:store.n

[2018-10-09 14:08] rmadaka opened #18 "Gd2 pod names are kube1-0, kube2-0, kube3-0"
I have created gcs setup with latest repo using vagrant. i am seeing gd2 pod names like kube1-0, kube2-0, kube3-0. This will create little bit confusion instead of that better to start gd2 pod names with 'gluster'.

[2018-10-09 16:57] amarts commented on #8
With #19 this can be closed!

[2018-10-09 16:57] #8 closed

[2018-10-10 05:58] laubai opened #20 "Error on vagrant up: The following settings shouldn't exist: plugins"
After cloning with submodules, running prepare.sh, and activating environment, I'm seeing the following errors after running vagrant up:

[code]

Running on Fedora 28.

[2018-10-10 06:08] sidharthanup commented on #20
I had the same issue..fixed it by deleting  ```config.vagrant.plugins = ["vagrant-libvirt"]``` in the vagrantfile. It should also be fixed when you update the vagrant version to the latest one.

[2018-10-10 06:08] Madhu-1 commented on #20
@laubai can you some info about which vagrant version you are using?

and make sure `vagrant-libvirt` plugin is installed

[2018-10-10 06:40] amarts commented on #17
Can we fix this in documentation?

[2018-10-10 07:35] rmadaka commented on #15
With latest repo, created one pvc  then i have rebooted one of the gd2 pod. Two of the etcd container status went to completed state.

Then logged in to GD2 pod , tried to perform glustercli commands, GD2 pods went to hung state.
Now I am not able to use this setup. It seems like serious issue.

[code]

[2018-10-10 09:56] ksandha commented on #15
I faced the same issue. my pods got in crashLooopbackoff mode
[code]

[2018-10-10 10:08] rmadaka opened #21 "Vagrant up failure"
If we don't comment the below line in Vagrantfile, Vagrant up will fail.

Under gcs/deploy/Vagrantfile, if i don't comment this particular line "config.vagrant.plugins = ["vagrant-libvirt"]"  vagrant up will fail.

File name : Vagrantfile
File path: gcs/deploy

After commenting this particular line "config.vagrant.plugins = ["vagrant-libvirt"]" vagrant up is success.

[2018-10-10 10:09] Madhu-1 commented on #21
duplicate of #20

[2018-10-10 10:12] Madhu-1 commented on #15
logs from etcd container
[code]

[2018-10-10 10:14] Madhu-1 commented on #15
as ETCD containers are going down we are facing issue in glusterd2 containers
log from glusterd2 container
[code]

[2018-10-10 10:18] amarts commented on #21
Should we document this somehow, or ask at the end of the log itself to do the commenting ?

[2018-10-10 10:32] rmadaka opened #22 "Not able to extend the gcs cluster, Raising this issue as a enhancement"
Currently by default with vagrant script we are getting 3 node gcs setup (gd2 container cluster). Its not possible to extending the peers with current gcs setup.

But in OCS we are able extend the peers for  "gluster container cluster" using heketi commands.

Same we should be able to do it on gcs setup.

[2018-10-10 11:18] Madhu-1 commented on #21
@amarts  as updating vagrant to the latest version will fix this issue
we can do two things,
* Add pre-request  to install  latest vagrant version
* if removing `"config.vagrant.plugins = ["vagrant-libvirt"]"` works on all vagrant version we can do that one to.

@kshlm @JohnStrunk let me know your thoughts on this

[2018-10-10 14:42] JohnStrunk commented on #21
I think my preferred fix would be to remove the line (assuming no ill consequences w/ newer versions). I encounter the error as well with:
[code]

Perhaps someone (@kshlm ?) w/ the latest version can comment on what the line does and whether it is required for newer versions.

[2018-10-10 18:05] JohnStrunk commented on #22
Today this is very manual. We will be working to automate it in the future.

[2018-10-10 18:45] JohnStrunk commented on #18
I think we can probably prefix the pod names with "gluster". The node name is being added by the templates as we're setting node affinity (kubeN), and the "-0" suffix is due to the StatefulSet.
A quick patch to the template should be able to change the pod names to something like:
`gluster-kube1-0`, etc.

[2018-10-11 03:20] laubai commented on #20
I have vagrant 2.0.2, which seems like the latest available in my repos, but is obviously not the latest :\ Commenting out that line works though

[2018-10-11 06:29] Madhu-1 commented on #15
@kshlmI think we have some issue with ETCD cluster deployed by the operator. any thoughts on this?

[2018-10-11 09:14] ksandha opened #24 "Brick goes offline when created a new PVC"
1) Created a GCS cluster
[code]
2) create a PVC mount it on a app pod.
[code]

3) Kill a brick from the gd2 pod
[code]
4) delete the app pods and the pvc
``
[vagrant@kube1 ~]$
[vagrant@kube1 ~]$ kubectl delete pod redis1
pod "redis1" deleted
[vagrant@kube1 ~]$
[vagrant@kube1 ~]$
[vagrant@kube1 ~]$
[vagrant@kube1 ~]$ kubectl -n gcs -it exec kube1-0 -- /bin/bash
[root@kube1-0 /]# glustercli volume s

[2018-10-11 09:17] Madhu-1 commented on #24
@ksandha can you paste the `kubectl get po -ngcs` output after bricks goes to offline

[2018-10-11 09:20] ksandha commented on #24
[code]

[2018-10-11 09:40] ksandha opened #25 "GD2 volume not deleted gracefully"
Continuation with #24
The out put in the gd2 pod showing two volume with same name
[code]
Where as the one volume showing pid as null/0 .

2) The kubectl showing only one PVC
[code]
[issue2425.log](https://github.com/gluster/gcs/files/2468321/issue2425.log)

[2018-10-11 09:47] Madhu-1 commented on #25
volumes are not of the same name please check
1st volume name is `pvc-044c90d4cd3411e8` and second volume name is `pvc-b7ef1f27cd3611e8`
if this is not an issue please close

if you want to report a different issue please update the issue title

[2018-10-11 09:56] Madhu-1 commented on #25
as there is no issue with deployment i think this issue needs to be reported in `gluster-csi-driver`. please close this one and open a new issue in `gluster-csi-driver`

[2018-10-11 10:02] Madhu-1 commented on #25
can you please update the steps to reproduce the issue,

i can see still one undeleted pv is present on your setup
[code]
because of this i think you are seeing 2 volumes in glusterd2 and one pvc in CSI.

you can see `pvc-044c90d4cd3411e8` is the extra volume in your `gluster volume list`

[2018-10-11 10:06] ksandha commented on #25
Its in the continuation of #24 . I am seeing the after effects.

[2018-10-11 10:15] Madhu-1 commented on #25
@ksandha i dont think this is an issue

as CSI failed to delete the volume from glusterd2 for some reason PV is still present
if PV gets deleted then there will be a volume mismatch
@humblec @JohnStrunk can you please confirm

[2018-10-11 10:29] Madhu-1 commented on #24
RCA:

as we are not persisting the `run directory` in the glusterd2 stateful-set  where are bricks gets created, once the glusterd2 pod restarts the content present in this directory will get vanished, because of this bricks are not coming up, even we are not able to delete the volume

[2018-10-11 11:27] humblec commented on #25
@madhu-1 are we sure that there was a failure in one PV deletion ? If yes, this is expected.l

[2018-10-11 11:29] Madhu-1 commented on #25
@humblec yes even i pasted the output of PV describe command
[code]

[2018-10-11 11:38] humblec commented on #25
@Madhu-1 I am confused, let me ask this, there is a BOUND PVC , so one PV is attached with it and we deleted this PVC so driver attempted to delete the PV , but failed. This is fine. It can cause the gluster backend to have a dangling volume. What about the second PV ? how it got created ? Is it via new PVC ? if yes, this is not an issue.

[2018-10-11 11:43] Madhu-1 commented on #25
@humblec he has created 1 PVC and deleted it, so in backend deletion on volume failed and PVC got deleted and but PV has not deleted yet. and after that, he recreated the same PVC (creation was successful( now he will have one PVC and 2 glusterd2 volumes
* one glusterd2 volume which was failed to deleted
* another glusterd2 volume which is created because of new PVC
still confused?

[2018-10-11 11:45] humblec commented on #25
Then this is not a bug..

[2018-10-11 11:54] ksandha commented on #25
@humblec @Madhu-1  how are we doing a cleanup of the volumes that are not getting deleted gracefully. In this case there is 1 volume but in real use there might more volumes.

[2018-10-11 12:05] humblec commented on #25
@ksandha If the PV deletion failed , we can not do anything from the CSI driver side other than notifying about the failure as seen in the error messages . It has to be manually cleaned up.

[2018-10-11 12:33] Madhu-1 commented on #20
i will sent a patch to fix this issue

[2018-10-11 12:34] Madhu-1 commented on #21
i will sent a patch to fix this issue

[2018-10-11 12:34] Madhu-1 commented on #18
i will sent a patch to fix this issue

[2018-10-11 12:36] Madhu-1 opened #26 "point kubernetes version to 1.12"
we need to add `DRIVER_REG_SOCK_PATH`  field in node plugin deploy CSI template to work with kubernetes 1.12.

[2018-10-11 13:03] rmadaka opened #29 "ETCD pods not getting spin automatically"
If we delete the etcd pod manually, new etcd pod not getting created automatically.  I think etcd operator pod not taking care of etcd pods.

[2018-10-11 14:52] #18 closed

[2018-10-11 14:55] #21 closed

[2018-10-12 05:05] aravindavk commented on #24
As per my understanding, bricks are mounted in run directory. Glusterd2 restart will remount these bricks on start. Are there any failures while mounting the bricks? We don't need run dir to be persistent, am I missing something here?

[2018-10-12 07:10] Akarsha-rai opened #31 "Vagrant up is failing on same deploy directory after destroying gcs setup"
### Steps

1) GCS setup was running
2) Deleted GCS setup by running "vagrant destroy -f" from the directory where GCS setup was deployed
[code]
GCS setup got deleted successfully

3) Removed hidden file "rm -rf .vagrant/"
4) From same directory tried running "vagrant up" and it is failing with error.
[code]

[2018-10-12 10:52] Akarsha-rai commented on #31
After running prepare.sh, vagrant up works properly so closing this bug

[2018-10-12 10:52] #31 closed

[2018-10-15 07:16] rmadaka commented on #29
If we delete the one etcd pod manually out of 3 etcd pods , new etcd pod not getting created automatically and Remaining 2 etcd pods went to completed state.

For 3 node etcd cluster , if any one of the etcd pod went to bad state. Remaining two etcd pods should be able to take care of gcs cluster. But here that is not happening.

[2018-10-15 09:05] Madhu-1 commented on #26
Fixed in #30

[2018-10-15 09:05] #26 closed

[2018-10-15 09:44] SaravanaStorageNetwork opened #32 "vagrant up throws error - centos/atomic-host could not be found"
deploy$ vagrant up

[2018-10-15 12:05] rmadaka opened #33 "Every time need to edit the vagrant file for providing vm-names"
If we want to deploy multiple gcs setups on same hypervisor, we need to edit vagrant file for providing new vm-names.

I think we can have some better option to provide vm-names, if we want to deploy multiple gcs setups on same hypervisor.

[2018-10-15 12:14] rmadaka commented on #15
Etcd pods status went to completed state after reboot/delete of GD2 pods or after reboot of kube nodes.

 kubectl -n gcs get all
NAME                                       READY   STATUS             RESTARTS   AGE
pod/csi-attacher-glusterfsplugin-0         2/2     Running            0          3h28m
pod/csi-nodeplugin-glusterfsplugin-2tzrs   2/2     Running            2          3h28m
pod/csi-node

[2018-10-15 17:09] JohnStrunk commented on #32
Perhaps try fetching the vagrant image manually:
[code]

If you continue to have errors, please provide:
[code]

[2018-10-15 18:17] JohnStrunk opened #34 "Skeleton E2E"
As a first step at getting an e2e suite for GCS, we should have an automated job that (nightly?):
- Brings up a kube cluster using this repo
- Deploys GCS on that cluster
- Verifies that the expected pods started
  - gluster (x3)
  - csi for gluster file (attacher, provisioner, node x3)

[2018-10-15 18:21] JohnStrunk commented on #11
I *think* this issue has been solved, with remaining etcd problem tracked in #15. Please re-open if I am mistaken.

[2018-10-15 18:21] #11 closed

[2018-10-16 09:04] rmadaka commented on #11
@JohnStrunk  @Madhu-1  Once pvc is created, if i reboot any of the gd2 pod, Rebooted gd2 pod brick status going to offline state. Is it because this issue #15 . Rebooted gd2 pod bricks are not coming back to online when etcd pods are in running state as well

[2018-10-16 09:19] Madhu-1 commented on #11
I have created an issue to track this one in [glusterd2](https://github.com/gluster/glusterd2/issues/1277)

[2018-10-16 10:29] SaravanaStorageNetwork commented on #32
I think issue is most likely with my older fedora system
I will check this in another system and update.

[2018-10-16 16:47] JohnStrunk opened #36 "Troubleshooting guide"
Now that people are starting to try out GCS, it would be helpful to have a document that walks them through various troubleshooting steps in case they encounter problems.

Topics:
- How to tell if all components are "up and running"
- Diagnosing where in the stack problems could be (Is component X properly communication w/ component Y?)
- How to view logs for various problem classes:
  - If you ca

[2018-10-16 18:38] JohnStrunk opened #37 "Vagrant-based origin/OKD cluster"
We already have the ability to create a kubernetes cluster.
We should also have a simple way of bringing up & deploying GCS on an OpenShift Origin, aka OKD, cluster. This will help us hammer out any unexpected differences between the two.

[2018-10-17 09:44] Madhu-1 opened #38 "failed to deploy gcs"
Failed to Get peers in the cluster

[code]

[2018-10-17 12:33] humblec commented on #38
@amarts @aravindavk @kshlm can some one take a look at this ?

[2018-10-17 12:51] SaravanaStorageNetwork commented on #32
Update:

Tried with latest vagrant , it failed.
vagrant --version
Vagrant 2.1.5

But with vagrant 2.0.2 in Fedora 27 it worked fine.
Thanks!

[2018-10-17 12:51] #32 closed

[2018-10-18 14:13] #17 closed

[2018-10-18 19:50] JohnStrunk commented on #34
In the weekly status meeting, it was decided this should also start a Job to verify we can read/write to Gluster.

[2018-10-18 20:30] JohnStrunk opened #40 "Plan for deploying gluster-block in GCS"
We need to document how we plan to integrate gluster-block w/ GCS in order to identify gaps that need to be closed for GCS-1.0.

Gluster pods are no longer DaemonSets, nor using host networking. Once we switch to block PVs, we can remove the nodeAffitity that locks the pods to a specific node. My understanding is that movable pods will not work for gluster-block currently.

[2018-10-22 06:37] aravindavk commented on #15
error message is saying trying to start embeded store. Is there a chance glusterd2 pod loosing configuration set via env options(like `noembed=true`)? @kshlm

[code]

[2018-10-23 08:26] ksandha opened #41 "Initial probing fails on gd2 pod after bringing up fresh setup"
1) Create a new setup using vagrant.
2) run command " kubectl get pods -n gcs"
[code]
3) on of the three  gd2 pod always restarts in the setup without any operations run manually.

[code]

[2018-10-23 08:33] Madhu-1 commented on #41
@ksandha have you seen any issue in `deployment` or `PVC creation`  because of liveness probe failure?

we have added liveness probe to make sure glusterd2 server will always be running. even if probing fails, kubernetes will recreate the gd2 pods.

[2018-10-23 08:38] ksandha commented on #41
I have seen this in deployment.

[2018-10-23 08:48] Madhu-1 commented on #41
if the deployment is not failed, then it's not an issue.  @humblec  @JohnStrunk @kshlm any thoughts on this

[2018-10-23 08:51] Madhu-1 commented on #41
@ksandha can you provide gd2 logs from `gluster-kube2-0`?

[2018-10-23 09:15] ksandha commented on #41
[code]

[2018-10-23 18:21] rmadaka opened #42 "Sometimes prepare.sh script is failing"
1) git clone https://github.com/gluster/gcs gcs-8
2) Under gcs-8 directory, create one more directory 'dir1'
3) Then copy data from deploy directory, cp -r deploy/* dir1/
4) Then run ./prepare.sh
[code]
Mostly i found that once repo is cloned , if we copy data from deploy directory to new directory for first time  then only we are facing this issue, second time onwards we are not facing this issue

[2018-10-24 04:49] kshlm commented on #42
You need to ensure the kubespray submodule is also cloned, before you copy.

`deploy/kubespray` is a git-submodule that by default is present as an empty directory. So if you just copy the deploy directory immediately after clone, kubespray will not be present. This leads to the issue.

prepare.sh, when run from the original deploy directory will download the submodule using git. But it cannot dow

[2018-10-24 04:51] kshlm commented on #15
This is surprising. I need to look into this, and the etcd-operator issues.

[2018-10-24 04:51] kshlm commented on #29
Same as #15.

[2018-10-24 04:51] #29 closed

[2018-10-24 06:52] rmadaka opened #44 "Some times vagrant up is failing"
Vagrant up is failing with below error, it's not reproducible every time. Here my observation is that, with out  running prepare.sh on base deploy directory.  Copy data from deploy directory to new directory, run prepare.sh on new directory then if we perform "vagrant up" , at the end vagrant up is failing below error.
[code]

[2018-10-24 06:54] Madhu-1 commented on #44
@rmadaka you need to add complete logs from `vagrant up`.

[2018-10-24 07:01] rmadaka commented on #44
@Madhu-1 TASK [kubernetes-apps/ansible : Kubernetes Apps | Wait for kube-apiserver] *****
Tuesday 23 October 2018  23:58:02 +0530 (0:00:00.347)       0:11:49.520 *******
ok: [kube1]

TASK [kubernetes-apps/ansible : Kubernetes Apps | Delete old CoreDNS resources] ***
Tuesday 23 October 2018  23:58:03 +0530 (0:00:01.284)       0:11:50.804 *******
ok: [kube1] => (item=deploy)
ok: [kube1] => (item=con

[2018-10-24 18:09] amarts commented on #40
I propose the plan of doing gluster-block CSI like https://github.com/gluster/gluster-csi-driver/issues/10#issuecomment-428669278

If we do it right, it should be much cleaner approach to keep the changes minimal in existing stacks!

Need inputs from people who are experienced already on this @SaravanaStorageNetwork @raghavendra-talur @humblec @obnoxxx ...

## Phase1:

### changes to gluster-block

[2018-10-24 18:10] amarts commented on #40
@pkalever @lxbsz @pranithk  @Madhu-1 @aravindavk let me know your thoughts too.

[2018-10-24 18:30] amarts commented on #40
Adding to it

## Phase 2

### Rest API to be native to gluster-blockd.

This may be required if we don't want to do a 'ssh' to gluster-blockd container to execute gluster-block cli.

This can be done after we make all other changes in the build system and validate that the expected changes work as expected in build pipeline!

[2018-10-24 18:30] JohnStrunk commented on #40
I think it is reasonable to have (all) the provisioning handled by the CSI block driver. I'm still going to suggest separate drivers for heketi/gd2 so that we can avoid multiple codepaths and not pollute the StorageClass with a `whichBackend: gd2` :smile: parameter. Instead, it would be handled at deploy time by starting the correct driver.

My main concern is that we think through all the request

[2018-10-25 00:12] obnoxxx commented on #40
First of all, such design discussions are imho better held in a PR with a design document than in issues, since the issues eventually scatter the content and decisions over many comments. A PR with a doc always has the latest state in one place... And agreement will result in merging and you have a point the repo to go and check what was agreed upon.

[2018-10-25 06:32] rmadaka commented on #15
Two pvcs mounted to 40 app pods, started running I/O's on one of the mount point. while I/O's are running on mount point, parallel trying to create 30 more app pods with same two pvc mount point.

ETCD pods and glusterd2 pods status went to below state.

[code]

[2018-10-25 06:33] Madhu-1 commented on #15
@rmadaka can you provide some logs from ETCD pods as well, that would be helpful

[2018-10-25 06:38] rmadaka commented on #15
Create one pvc and mounte to app pod. Login to gd2 pod and  kill the one brick then start running I/O's on mount point.

ETCD pods status went to below state.
[code]

[2018-10-25 06:42] rmadaka commented on #15
2018-10-24 13:38:13.021082 I | rafthttp: established a TCP streaming connection with peer f3246e3c0671bbf8 (stream Message reader)
2018-10-24 13:38:13.021342 I | raft: 8b0591e77e627785 [term: 57] ignored a MsgVoteResp message with lower term from f3246e3c0671bbf8 [term: 50]
2018-10-24 13:38:13.021355 I | raft: 8b0591e77e627785 [term: 57] ignored a MsgVote message with lower term from f3246e3c0671b

[2018-10-25 06:48] rmadaka commented on #15
This Logs for ETCD pod which is in completed state:

2018-10-24 10:18:56.510531 I | raft: 4c6267e9f13aa2f7 became follower at term 103
2018-10-24 10:18:56.510552 I | raft: 4c6267e9f13aa2f7 [logterm: 47, index: 166, vote: 0] cast MsgVote for f91b7b5a837d265d [logterm: 47, index: 166] at term 103
2018-10-24 10:18:56.510585 I | raft: 4c6267e9f13aa2f7 [term: 103] received a MsgVote message with higher

[2018-10-25 11:45] Madhu-1 commented on #24
I need to Analyze the bug again, this may take time. moving out of GCS/0.2

[2018-10-25 12:13] atinmu commented on #34
@nigelbabu @JohnStrunk I believe we're not yet ready to get this rolling for GCS 0.2? If so can one of you move it to GCS/0.3?

[2018-10-25 19:06] hongkailiu opened #46 "Failed to deploy on OCP 3.11"
1. Need scc setup of hostpath plugin: Followed [this doc](https://docs.okd.io/latest/admin_guide/manage_scc.html#use-the-hostpath-volume-plugin) to work it around.

2. the opc cluster is on aws: the node name is like `ip-172-31-10-185.us-west-2.compute.internal` which causes problem for the statefulset.  Created [bz1643191](https://bugzilla.redhat.com/show_bug.cgi?id=1643191)

To workaround this i

[2018-10-25 19:12] hongkailiu commented on #46
Forgot to mention: Need to overwrite the path of `kubectl`.
[code]

[2018-10-25 19:43] hongkailiu commented on #46
@JohnStrunk
I changed the name by using the new var, the old var `kube_hostname` is kept intact.

[code]

So that should not be the cause.
Did I missed something?

[2018-10-25 19:46] JohnStrunk commented on #46
From above:
[code]
Client and peer addresses need to aim at the pod's address. I think you need to update those ENV vars in the template in addition to changing the name field.
The pod's name is now `gluster-1-0`, but client & peer still point to the old name.

[2018-10-25 20:03] hongkailiu commented on #46
Yes. Now I understand.

New issue:

[code]

My inv file:
[code]

I think I know the problem. It might be `groups['gcs-node']` instead of `groups['kube-node']`.
Will know soon.

[2018-10-25 20:19] hongkailiu commented on #46
Now new issue:
[code]

Will continue tomorrow.

[2018-10-25 20:29] hongkailiu commented on #46
Found the problem again.
The playbook has very restriction on the node name.

https://github.com/gluster/gcs/blob/master/deploy/tasks/add-devices-to-peer.yml#L5

This assumes that index 1 has the node name after splitting.
Will think about the solution tomorrow.

[2018-10-25 20:33] JohnStrunk commented on #41
I suspect we could increase [initialDelaySeconds](https://github.com/gluster/gcs/blob/master/deploy/templates/gcs-manifests/gcs-gd2.yml.j2#L41) to allow more time for everything to start up.

My theory:
It looks like this happens just on the initial startup of the cluster. At that time, we've created all the kube objects at once, and we're waiting for everything to catch up with our desired state.

[2018-10-25 21:07] hongkailiu commented on #46
https://github.com/gluster/gcs/blob/master/deploy/tasks/add-devices-to-peer.yml#L13
This line use the json result from the server to get the hostname in inventory.
Maybe we need to wait for the fix/response from [bz1643191](https://bugzilla.redhat.com/show_bug.cgi?id=1643191).

The workaround above fix the problem of the playbook only partially. Cannot go through.

[2018-10-26 04:55] Madhu-1 opened #47 "gcs uses ETCD version 3.3.X. is this officially supported by ETCD operator?"
I see an [issue](https://github.com/coreos/etcd-operator/issues/1731) in ETCD operator to support 3.3.x version

[2018-10-26 04:56] Madhu-1 commented on #47
@JohnStrunk @kshlm ^^

[2018-10-26 08:40] Madhu-1 commented on #11
@rmadaka [glusterd2 issue](https://github.com/gluster/glusterd2/issues/1277) for this one is closed now. can you verify this one?

[2018-10-26 13:51] atinmu commented on #15
@rmadaka @ksandha Did we try to test this with etcd 3.2 ?

[2018-10-26 14:02] rmadaka commented on #15
@atinmu Yes atin, I tried with etcd 3.2.24 as well, i am able hit same issue.

[2018-10-26 14:04] atinmu commented on #15
@Madhu-1 Can we please talk to some of the etcd folks to (through an issue) to understand what's going wrong here?

[2018-10-26 16:46] Madhu-1 commented on #15
@atinmu created ETCD issue for this  https://github.com/coreos/etcd-operator/issues/2004

[2018-10-26 18:09] JohnStrunk opened #49 "Tracker: All logs to container stdout"
## Description
All logs generated by GCS components must go to the container stdout so they can be picked up by the cluster logging infrastructure.

New GCS components such as gd2 and csi drivers are already sending their logs appropriately, so this item is targeted mainly at older gluster components. Specifically:
- FUSE mount logs
- Brick logs
- self-heal daemon
- (any other process that normall

[2018-10-26 18:12] JohnStrunk commented on #49
cc: @ShyamsundarR @julienlim

[2018-10-26 18:55] JohnStrunk commented on #40
The gluster server pods are no longer a DaemonSet and no longer use the host network. As such, if the backing storage supports it, these pods can float around the cluster as necessary to maintain availability. This gives us the potential to use kubernetes' built-in functionality to increase our resiliency.
The iSCSI target is kernel code, making the above changes impractical for the g-b functional

[2018-10-29 09:02] Madhu-1 opened #50 "Failed to access glusterd2 pod after delete gd2 pod"
steps to reproduce
* delete one of the glusterd2 pod
* login to the newly created pod
* access glustercli commands

Logs
[code]
Looks like kubernetes networking issue

[2018-10-29 09:03] Madhu-1 commented on #50
issue is rarely reproducible

[2018-10-29 09:09] Madhu-1 opened #51 "Failed to delete volume from glusterd2 pod"
Logs
[code]

during volume stop its showing node `gluster-kube3-0` is down , but am able to access glusterd2 node `gluster-kube3-0`

as glusterd2 in `gluster-kube3-0` is running but its not marking itself as online in ETCD, am not seeing any failure in glusterd2 logs

[2018-10-29 09:09] Madhu-1 commented on #51
cc @aravindavk

[2018-10-29 11:29] SaravanaStorageNetwork opened #52 "app deployment from outside the cluster"
In the section [app-deployment](https://github.com/gluster/gcs/blob/master/deploy/README.md#deploying-an-app-with-gcs-backed-volumel) command is executed in gcs-venv.
This is not possible unless kubeconfig is copied.

Update the doc. such that
either login to master and run the app + gcs backed volume deployment
or
login to master and carry out app deployment.

[2018-10-29 19:32] #52 closed

[2018-10-29 19:39] JohnStrunk opened #54 "Tracker: Enable thin arbiter"
- Add support for thin arbiter to CSI driver
  - [ ] Parent of gluster/gluster-csi-driver#46

[2018-10-30 07:49] Madhu-1 commented on #15
@rmadaka are we hitting this issue https://github.com/coreos/etcd-operator/issues/1130?

[2018-10-30 09:31] aravindavk commented on #51
This looks related to https://github.com/gluster/glusterd2/issues/1054

Peer is failed to reconnect to etcd to update the online status. And all other transaction which depends on online state is failing.

[2018-10-31 01:50] Madhu-1 commented on #15
some more logs after debugging
[code]

[code]

[2018-10-31 07:40] ksandha opened #55 "heal info fails when one brick is killed in a volume"
steps to reproduce:-
1) create a PVC
2) check the volume status & heal info when all bricks are up
[code]
3) Kill one brick from the volume
[code]

4) Check the status of volume and heal info
[code]

[2018-10-31 08:40] vpandey-RH commented on #55
[#1306](https://github.com/gluster/glusterd2/issues/1306)

[2018-10-31 09:15] rmadaka opened #56 "After reboot of GD2 pod, rebooted pod brick went to offline"
1. Create pvc
2. Login to GD2 pod which is having bricks.
3. perfrom "reboot" command
4. After reboot,  rebooted gd2 pod bricks went to offline, those bricks not coming back to online.

output:

[code]
Log:

time="2018-10-31 09:13:33.990278" level=error msg="registry.SearchByBrickPath() failed for brick" brick=/var/run/glusterd2/bricks/pvc-d3006e55dce511e8/subvol1/brick1/brick error="SearchByBrick

[2018-10-31 09:45] aravindavk commented on #56
Please provide the output of `rpm -qa | grep gluster`(issue may be related to https://github.com/gluster/glusterd2/issues/1277)

[2018-10-31 12:38] rmadaka commented on #56
[root@gluster-kube1-0 /]# rpm -qa | grep gluster
glusterfs-libs-6dev-0.184.gitff18121.el7.x86_64
glusterfs-client-xlators-6dev-0.184.gitff18121.el7.x86_64
glusterfs-cli-6dev-0.184.gitff18121.el7.x86_64
glusterd2-5.0-0.dev.el7.x86_64
glusterfs-6dev-0.184.gitff18121.el7.x86_64
glusterfs-api-6dev-0.184.gitff18121.el7.x86_64
glusterfs-fuse-6dev-0.184.gitff18121.el7.x86_64
glusterfs-server-6dev-0.184.g

[2018-11-01 15:00] atinmu commented on #15
@Madhu-1 did you get a chance to test out this by increasing the overall space for etcd? Did that make any difference?

[2018-11-01 16:47] JohnStrunk commented on #15
Is this a lack of sufficient CPU resources in this environment (pod or VM)?

[2018-11-02 04:41] kshlm commented on #47
I think it's just that the issue hasn't been closed.

[2018-11-02 06:43] ksandha opened #58 "GD2 pod automatically reboots."
Steps performed:-
1) Created the  GCS cluster:-
[code]

2) deleted the gd2 pod

[code]
3) executed commands on gd2 pod by log in by using same end points of kube1:-

[code]

4) now executed commands using kube2 and kube 3 as endpoints. logged in from same kube1 pod.

[code]
5) while excuting more commands the pods automatically restarts:-
[code]

[code]

[2018-11-02 08:08] rmadaka opened #59 "one of the node running under less storage, cause to some etcd pods, csi pods, gd2 pods went to evicted state"
-> Created one pvc
-> Mounted that pvc to 100 app pods,
-> app pods creation was taking so much time
-> I have observed for around 15 mints still most of the app pods were in pending state.
-> Then i have logged in to gcs setup after one day.
-> I have observed below status, out of 100 app pods which all are placed under kube1 node went to evicted state after one day. i am suspecting its because o

[2018-11-02 08:29] ksandha commented on #15
from the infra side we have a plenty of resources available.

[2018-11-04 19:30] Madhu-1 commented on #15
After extending the root space of the host, now am able to create more PVC

[code]

[code]

[2018-11-04 19:31] Madhu-1 commented on #15
applied #57  changes and tested

[2018-11-05 03:48] amarts commented on #40
@obnoxxx @JohnStrunk Thanks for your thoughts!

For now, after further discussion with @Madhu-1 and @aravindavk, who had done some work in getting block-csi and gd2 plugin for g-b, It looks like getting gd2 plugin for block would be 'quicker' as @obnoxxx mentions. Also, it means, keeping the g-b API same in gd2 plugin, so CSI driver written to use this, would be essentially same for both gd2 based

[2018-11-05 04:36] Madhu-1 commented on #59
This will be fixed by #57

[2018-11-05 05:23] Madhu-1 opened #60 "consider using Embeded ETCD in glusterd2"
Currently, we are using external ETCD in GCS, if kubernetes nodes get rebooted, all the pods will get restarted.
due to pod restart, if the ETCD pods in the clusters lose the quorum, ETCD operator will not be able to maintain the ETCD cluster and the ETCD pods won't come up automatically

ETCD operator issue: https://github.com/coreos/etcd-operator/issues/1972

Pods after before node restart
[code

[2018-11-05 05:29] atinmu commented on #60
@Madhu-1 Could you also elaborate what exactly you meant by embedded etcd from the context of GCS deployment, where would the etcd cluster will run and how? I believe this is not the same as running embedded etcd by GD2 itself, correct?

[2018-11-05 05:32] Madhu-1 commented on #60
@atinmu I am proposing running embedded ETCD by GD2 itself. currently, we have some issue with using embedded ETCD started by GD2 if we fix those issues we can use it.

[2018-11-05 05:33] Madhu-1 commented on #60
@amarts  we can solve ETCD quorum issue by recreating the ETCD cluster, but it's not useful for us now, because we will lose all the data what we have stored in ETCD

[2018-11-05 09:04] Madhu-1 commented on #60
cc @kshlm @JohnStrunk @aravindavk

[2018-11-05 16:48] JohnStrunk commented on #58
After this restart, were you able to use gd2 on `gluster-kube1-0`?
The failed health check caused the restart of the pod, and that was for the same reason you couldn't use `glustercli`. We're still left with the question of why...

Do you have any logs from the gd2 container before it was killed for being unhealthy?

[2018-11-05 16:57] ksandha commented on #58
@JohnStrunk , I tried to cpature the logs but within that time the container was killed. I can retry the scenario and see if i am able to hit the same thing again and will try to capture the logs in different terminal.

[2018-11-05 17:29] JohnStrunk commented on #40
gd2 pods don't use host networking anymore. If they get packaged together, g-b would also not be using host network. Will it work in such an environment?

[2018-11-05 18:15] JohnStrunk commented on #60
Also related is the operator work on adding persistence: https://github.com/coreos/etcd-operator/issues/1323. I'm trying to figure out the status.

WRT using embedded... I don't know that this is going to make it any easier. While we will be able to implement persistence, we will need to manage membership ourselves as gd2 pods come and go. I think that is a problem on the order of difficulty of im

[2018-11-06 10:37] rmadaka commented on #15
I am able to hit this issue with latest build

I have created one pvc, trying to mount to 200 app pods, after 10 to 15 mints. etcd pods status went to completed state.

[vagrant@kube1 ~]$ kubectl -n gcs get all
NAME                                       READY   STATUS             RESTARTS   AGE
pod/csi-attacher-glusterfsplugin-0         2/2     Running            0          3h31m
pod/csi-nodeplugi

[2018-11-06 12:13] rmadaka commented on #15
I was trying to create 100 PVCs using script with latest build, only 30 pvcs are bounded remaining all pvcs went to pending state.
i have checked the etcd pods status, etcd pods went to completed state.

[code]

etcd logs:

WARNING: 2018/11/06 11:09:32 grpc: Server.processUnaryRPC failed to write status: connection error: desc = "transport is closing"
2018-11-06 11:09:33.835989 I | raft: 4b297bb17

[2018-11-08 09:37] rmadaka commented on #44
Most of the times vagrant up failing with latest build, if we try for 10 times, out of 10 times gcs deployment succeeded  for one or two times.

 console logs:

TASK [kubernetes-apps/ansible : Kubernetes Apps | Delete kubeadm KubeDNS] ******
Thursday 08 November 2018  14:57:40 +0530 (0:00:01.408)       0:13:20.379 *****

TASK [kubernetes-apps/ansible : Kubernetes Apps | Lay Down CoreDNS Template]

[2018-11-08 09:40] Madhu-1 commented on #44
@kshlm this could be the issue I discussed with you last time
currently we are not checking all ETCD pods in the cluster are in running state or not. so because of that gd2 is not responding. can you please check

[2018-11-08 12:36] atinmu commented on #15
@Madhu-1 are you looking into this?

[2018-11-08 12:42] Madhu-1 commented on #15
@atinmuI was not able to reproduce it, I am trying

[2018-11-08 17:25] amarts opened #62 "loopback 'block' CSI for GCS users"
I am aware of many discussions where we did consider using 'loopback' devices (`losetup`) as a block device, where it just uses a file on glusterfs as backend.

This has both challenges and benefits. Happy to discuss this further as experimental option for GCS.

People with some thoughts on this, please share your opinion, observation, and requirements, so we can collect it, and see if we can come

[2018-11-08 17:34] jarrpa commented on #62
Certainly this feature would mean a world of simplification from a CSI-based deployment standpoint. It would mean that a gluster-block node driver wouldn't need to bundle any special packages, and could just make use of the FUSE client in the glusterfs node driver.

[2018-11-13 05:41] Madhu-1 commented on #38
Fixed in #65

[2018-11-13 05:41] #38 closed

[2018-11-13 05:41] atinmu commented on #44
@rmadaka Can you please give it a try with the latest GCS head?

[2018-11-13 05:42] Madhu-1 opened #67 "failed to bring up GCS"
[code]

[2018-11-13 05:42] Madhu-1 commented on #67
@sidharthanup PTAL

[2018-11-13 11:30] atinmu commented on #44
Probably fixed through #65

[2018-11-13 11:35] atinmu commented on #34
@nigelbabu ping! where're we on this?

[2018-11-13 12:16] Madhu-1 commented on #24
not able to reproduce with the latest build, @ksandha please verify this bug with latest build

[2018-11-13 13:51] phlogistonjohn commented on #62
We briefly discussed other ways (in addition to loopback itself) to accomplish a similar behavior:
* loopback
* nbd (or nbdkit)
* tcmu runner (without iscsi)

These would all accomplish the goal of isolating the "block-ness" within the CSI mount container and it would only "talk gluster" to the outside world. Certainly, loopback would be the easiest to prototoype, but one of the alternatives may p

[2018-11-13 17:14] JohnStrunk opened #68 "Add init container to glusterd2 pod to wait for DNS"
In gluster/glusterd2#1324, it looks like DNS isn't ready by the time gd2 tries to resolve its own hostname.

We should add an init container like etcd does to wait for DNS.

Example:

[code]

[2018-11-13 17:22] JohnStrunk commented on #54
@amarts In the CSI driver, we have defined (but not implemented) the following parameters:

[code]

Zones, above, are supposed to use node tags via IVP to do placement.

Are we missing any parameters or do we just need to prioritize appropriately?

[2018-11-15 06:42] Madhu-1 commented on #67
Hitting this issue couple of times
[code]

[2018-11-15 06:47] sidharthanup commented on #67
@Madhu-1 I have written a fix. I am testing it out. Problem is CRDs are getting creating but the API for it not becoming available.

[2018-11-15 07:11] Madhu-1 commented on #68
added the initContainer for the glusterd2 still facing the same issue here is the logs

initContainer
[code]

logs from initContainer:
[code]

* glusterd2 failed with the same error
[code]

[2018-11-15 07:17] Madhu-1 commented on #44
@rmadaka please verify this issue

[2018-11-15 07:18] Madhu-1 commented on #24
@ksandha PTAL

[2018-11-15 07:19] Madhu-1 commented on #15
@atinmu asked @rmadaka to reproduce the issue.

[2018-11-15 13:04] nixpanic commented on #62
One of the potential issues with a loopback device backed by a network filesystem is that there may be a deadlock when the system gets under memory pressure. This has been reported for loopback mounts on NFS-exports. The problem manifests itself like:

1. system has little or no free memory
2. filesystem on a loopback device gets instructed to flush data
3. memory allocations are needed to flush t

[2018-11-15 13:52] ShyamsundarR commented on #62
I had posted this in a non-public list a while back, cleaned it up and posting it here again. It's long, but represents what we did with loopback devices and Gluster in an Openshift cluster.

Here is where we were (@JohnStrunk  and self) at with our investigation on using loop back devices to serve RWO PVs in an Openshift cloud instance environment. Learning is not specific to that environment, he

[2018-11-15 16:48] JohnStrunk commented on #68
Does `gluster-kube1-0.glusterd2.gcs` vs `gluster-kube1-0.glusterd2.gcs.svc.cluster.local` make a difference?

[2018-11-16 14:04] #67 closed

[2018-11-20 07:53] ksandha commented on #55
Verified and working  in below rpms on GCS setup :-

[root@gluster-kube1-0 /]# rpm -qa | grep gluster
glusterfs-libs-6dev-0.269.git5af9799.el7.x86_64
glusterfs-client-xlators-6dev-0.269.git5af9799.el7.x86_64
glusterfs-cli-6dev-0.269.git5af9799.el7.x86_64
glusterd2-5.0-0.dev.30.gite6ce7cf.el7.x86_64
glusterfs-6dev-0.269.git5af9799.el7.x86_64
glusterfs-api-6dev-0.269.git5af9799.el7.x86_64
glusterfs-

[2018-11-20 07:53] #55 closed

[2018-11-20 07:56] ksandha commented on #41
Hi Johnstrunk , restarts are observed on intial setup. With your comment i am closing this bug.

[2018-11-20 07:56] #41 closed

[2018-11-20 08:34] ksandha opened #71 "after killing a brick in gd2 pod, the pod restarts"
1) Create a gcs cluster
2) Create a PVC of 2 gb
3) Login to gd2 pod
4) Kill a brick from the volume.
5) Wait for some time the pod automatically restarts.

[2018-11-20 08:36] Madhu-1 commented on #71
may be related to https://github.com/gluster/glusterd2/issues/1321

[2018-11-20 09:40] ksandha commented on #24
Couldn't hit the issue with the latest build. @Madhu-1 please take appropriate action

[2018-11-20 09:43] Madhu-1 commented on #24
closing as per @ksandha comment.

[2018-11-20 09:43] #24 closed

[2018-11-21 04:14] atinmu commented on #44
@rmadaka Have we come across this again with the latest bits?

[2018-11-21 04:16] atinmu commented on #15
@rmadaka What's the latest status  on this?

[2018-11-21 07:47] rmadaka commented on #15
@atinmu With latest build, easily i am able to reproduce this issue. i will give my setup to madhu

[2018-11-21 07:50] rmadaka commented on #44
@atinmu  With latest build, till now i didn't see any issue, i will try some more times and will close this issue.

[2018-11-21 12:57] mykaul commented on #44
First timer here (on gcs), failed with:
[code]

Fedora 29, vagrant version: 2.1.2, Ansible 2.7.2

[2018-11-21 13:56] rmadaka commented on #44
@Madhu-1 @atinmu , Today , i have deployed 3 more times, didn't find any issues

[2018-11-21 13:57] Madhu-1 commented on #44
then we can close this issue, and reopen if we face any issue

[2018-11-21 14:50] mykaul commented on #44
@Madhu-1 - all I ran was 'vagrant up'. Was I supposed to do anything else?

[2018-11-21 14:53] Madhu-1 commented on #44
@mykaul  need to do couple of steps before running `vagrant up` readme link [here](https://github.com/gluster/gcs/tree/master/deploy#local-cluster-using-vagrant)

[2018-11-21 15:06] mykaul commented on #44
@Madhu-1 - OK, seems to be running on my laptop. Perhaps we can integrate this prepare.sh to the Vagrantfile . I'll take a look.
(This issue can be closed from my perspective).

[2018-11-21 15:13] #44 closed

[2018-11-22 03:47] brainfunked commented on #34
I'm working on deploying GCS on CentOS CI. Currently looking through the deploy scripts to fill in any gaps, including host setup on CentOS CI. I expect the outcome of this issue to be a reproducable deployment that could be torn down completely and brought up fully to a known state against which tests from anteater could be run. Expect an update on Monday, 26th.

[2018-11-27 07:53] ksandha opened #74 "after the cluster is restarted the ETCD pods goes in ERROR state"
cold reset of the cluster leads to ETCD pods going in ERROR state.

1) create a GCS cluster
[code]
2) Cold reset the cluster
[code]
3) The other pods in GCS name space comes back in running state. But the etcd pods goes in ERROR state and unable to recover.

[2018-11-27 09:46] JohnStrunk commented on #74
I believe this is due to lack of persistence support in etcd operator.
https://github.com/coreos/etcd-operator/issues/1323

[2018-11-27 10:36] ksandha opened #75 "failed to deploy gcs cluster using vagrant."
The cluster fails to deploy using vagrant:-
[code]
The CSI pods aren't even deployed.  and gluster pods going in pending state.

[2018-11-27 10:36] ksandha commented on #75
Setup 2 :-

[code]

[2018-11-28 10:12] ksandha commented on #75
Closing this issue as the deployment is working with today's nightly.

[2018-11-28 10:12] #75 closed

[2018-11-30 07:29] ksandha opened #76 "Glusterd2 & etcd pod crash with OOM, with multiple pvc in creation"
1) Created 20 pvc of  2 GB using script.
[code]

most of them going in pending state.

2) check the pods status
[code]

Here we can see the etcd and gluster-kube1-0 pods both got killed and respin happened.

3) Checking te dmesg logs

[code]

[2018-11-30 07:46] ksandha commented on #76
[dmesg_log.log](https://github.com/gluster/gcs/files/2632453/dmesg_log.log)

[2018-11-30 11:36] atinmu commented on #68
@Madhu-1 any progress made on this?

[2018-11-30 11:37] Madhu-1 commented on #68
worked on john proposal, not able to luck. will take a look

[2018-11-30 11:38] Madhu-1 commented on #68
@JohnStrunk `gluster-kube1-0.glusterd2.gcs` is not rechable from initcontainer but `gluster-kube1-0.glusterd2.gcs.svc.cluster.local` is rechable from initcontainer.

[2018-11-30 15:14] JohnStrunk commented on #68
It appears gd2 is using `.gcs` as opposed to `.gcs.svc.cluster.local`. Does the init container fix the problem if we wait on the same DNS name as gd2? (hence my initial cryptic question :disappointed:)

[2018-12-03 08:54] brainfunked commented on #34
The [CentOS CI job is green](https://ci.centos.org/view/Gluster/job/gluster_anteater_gcs/8/). However, there is a possibility that it doesn't always work reliably due to factors such as a [delay in the network response and thus a timeout in the test](https://ci.centos.org/view/Gluster/job/gluster_anteater_gcs/7/console). I'm now investigating the reliability of the deployments.

[2018-12-03 11:07] ksandha commented on #25
Hit this issue with creating 20 pvc and deleting (twice)
providing the provisioner and gd2 logs.
[provisoner.log](https://github.com/gluster/gcs/files/2639187/provisoner.log)
[glusterd2.log](https://github.com/gluster/gcs/files/2639188/glusterd2.log)

[2018-12-03 11:13] Madhu-1 commented on #25
W1203 10:38:58.771933       1 controller.go:727] Retrying syncing volume "pvc-24e932d3-f6e4-11e8-95b0-525400b146ac" because failures 0 < threshold 15
E1203 10:38:58.771963       1 controller.go:742] error syncing volume "pvc-24e932d3-f6e4-11e8-95b0-525400b146ac": rpc error: code = Internal desc = failed to stop volume pvc-24e932d3-f6e4-11e8-95b0-525400b146ac: Post http://glusterd2-client.gcs:24007

[2018-12-05 04:34] Madhu-1 commented on #68
even I tried with other, with `.gcs` is not reachable from initcontainer (may due to headless services and stateful sets).
with `.gcs.svc.cluster.local` it was able to resolve the DNS name, but it won't work out.

[2018-12-05 06:22] atinmu commented on #59
@rmadaka Please retest and close this?

[2018-12-05 06:31] Madhu-1 commented on #58
@ksandha can you provide below info
* Logs from the restarted container `/var/log/glusterd2/glusterd2`
* kubectl get events

my suspicion is this is due to the issue #68

[2018-12-05 07:03] atinmu commented on #56
@rmadaka can you please retest this? Seems like this is fixed through https://github.com/gluster/glusterd2/issues/1277.

[2018-12-05 07:05] atinmu commented on #51
@Madhu-1 retest this and close?

[2018-12-05 07:06] Madhu-1 commented on #51
let me verify and close this one.

[2018-12-05 11:38] rmadaka commented on #15
Adding my observations here,
Created setup with 32GB RAM  and 4 VCPUS,
I have tried to create 1000 PVC , 698 pvcs bound, remaining all went to pending state.

After 2 hours of idle time , i have observed the etcd pods went to completed state.
[code]

I have observed etcd logs as well, mostly i have seen below are the log error messages repeatedly coming.
[code]

I have observed kubernetes events a

[2018-12-05 11:45] Madhu-1 commented on #15
@rmadaka memory consumption needs to be checked on ETCD pods.

[2018-12-05 11:48] ksandha commented on #15
@Madhu-1

[code]

I see virtual memory size (VSZ) clocking to 558%. This is on idle setup. I need to check how VSZ works.

[2018-12-06 07:48] ksandha commented on #15
[code]

I see etcd pods are using way much memory than other pods in idle scenario. Can we look into this. @Madhu-1 @atinmu

[2018-12-06 10:56] rmadaka commented on #15
Create GCS setup with 16 vcpus and 32GB RAM for each kube node. Then try to create 1000 PVC using script. Each pvc size 1GB.

Observation:

-> I have tried to create 1000 PVC, 615 PVCs are bounded remaining pvcs are in pending state.

-> After 12 hours of idle time observed that GD2 pods rebooted more than 100 times

-> After 12 hour of idle time one of the etcd pod is in not ready state.
[code]

[2018-12-07 03:59] atinmu commented on #76
Fixed through https://github.com/gluster/glusterd2/issues/1321 .  Kindly retest.

[2018-12-07 03:59] #76 closed

[2018-12-07 03:59] atinmu commented on #71
Fixed through https://github.com/gluster/glusterd2/issues/1321 .  Kindly retest.

[2018-12-07 03:59] #71 closed

[2018-12-07 04:02] atinmu commented on #56
Kindly retest, closing this.

[2018-12-07 04:02] #56 closed

[2018-12-07 08:39] atinmu commented on #15
@rmadaka I believe this was due to the constraint on the resource, with 32G RAM and 8 CPU it's not visible any further, correct?

[2018-12-07 10:05] ksandha commented on #25
[code]

The PVC are not getting released. The status is same for past 30 mins.

[2018-12-07 11:23] Madhu-1 commented on #68
@JohnStrunk am out of ideas, I tried with both `initcontainers` and pod `spec.containers.lifecycle.postStart` but no luck.

if i run the same script inside  the container its  working as expected, it  its  not  working with `postStart`
initcontainer works as expected(nslookup was successful)   but still am seeing the issue when pod restarts.

[2018-12-10 06:30] atinmu opened #80 "idna version incompatible issue while running prepare.sh"
atin@dhcp35-96:~/codebase/myrepo/gcs/deploy$ ./prepare.sh
vagrant and vagrant-libvirt were found.
For easier operation, ensure that libvirt has been configured to work without passwords.
Ref: https://developer.fedoraproject.org/tools/vagrant/vagrant-libvirt.html

Ensuring kubespray is present
Creating a python virtualenv gcs-venv
Installing requirements into gcs-venv
**requests 2.20.1 has requirem

[2018-12-12 07:58] Madhu-1 opened #81 "use gluster-kubernetes to gcs deployment"
currently, we are using kubespray for deployment of kubernetes
cons of using this are:
* kubespray is maintained by different teams (if we face any issue we need to wait for the new release)
* kubespray currently does not support latest released kubernetes version( Kube 1.13.0) we have to wait for them to release a support for Kube latest version

if we make use of current deployment scripts used

[2018-12-12 16:38] rishubhjain opened #82 "Add device in glusterd2 returns 201 instead of 200"
As per https://github.com/gluster/glusterd2/blob/master/plugins/device/rest.go#L104 Add devices if successful will return 201 instead of 200 as mentioned in https://github.com/gluster/gcs/blob/master/deploy/tasks/add-devices-to-peer.yml#L14

[2018-12-12 19:00] rishubhjain opened #84 "kube-node not found when using inventory-gcs-only.example"
In README under https://github.com/gluster/gcs/tree/master/deploy#deploying-an-app-with-gcs-backed-cloned-volume we should mention that one needs to change kube-node to gcs-node in https://github.com/gluster/gcs/blob/master/deploy/deploy-gcs.yml#L148.

[2018-12-13 05:50] #82 closed

[2018-12-14 10:14] nthomas-redhat opened #86 "Integration and deployment of gluster mixins"
This issue is created to deploy the alert and dashboard mixins when the gcs is getting deployed.

[2018-12-14 10:16] nthomas-redhat commented on #86
@JohnStrunk @kshlm @aravindavk , we are setting a discussion next week. Please let us know what you guys think on this topic.

[2018-12-14 10:16] shtripat commented on #86
@cloudbehl

[2018-12-17 06:38] ksandha commented on #25
@atinmu @Madhu-1 This is the issue we are hitting consistently while deleting. hitting it on 30 PVC's too.

[2018-12-17 07:03] Madhu-1 commented on #25
@ksandha can you attach the latest provisioner and glusterd2 logs.

[2018-12-17 11:59] ksandha commented on #25
I am hitting https://github.com/gluster/glusterd2/issues/1419 .

Logs of gd2 and provisioner attached.
[provisoner_gcs25.log](https://github.com/gluster/gcs/files/2685883/provisoner_gcs25.log)
gd2 logs placed at rhsqa-virt05.lab.eng.blr.redhat.com:/root/glusterd2_2.log

[2018-12-17 21:50] JohnStrunk commented on #81
g-k uses kubeadm directly whereas kubespray uses kubeadm internally.
I also have a repo that brings up a cluster w/ kubeadm and I find keeping up w/ the changes to be a pain.

I guess we need to decide what our goal is... If we want a stable kube cluster that's easy to maintain, kubespray is probably the future. If we want to chase the edge, kubeadm + custom tooling would let us do that.

Using g-

[2018-12-17 21:57] JohnStrunk commented on #86
Do you have a sense of what additional components are needed or how they should be deployed?

[2018-12-18 09:29] aravindavk commented on #25
Already Exists Error(pvc775,780,781,815,779)
--------------------------------------------

[code]

RCA: Start Brick failed with exit status 11 and PV Create marked as failure by CSI driver. On retry Volume Create failed with Thinpool exists error(Mostly looks like https://github.com/gluster/glusterd2/pull/1402).

- Need to check Exit status 11 during brick start

Cannot allocate memory(pvc779)
---

[2018-12-18 11:19] nthomas-redhat commented on #86
@JohnStrunk , Current understanding is that this needs to be deployed via operators.

[2018-12-18 18:48] JohnStrunk commented on #86
The current plan is to containerize the yaml files via a CI job. GCS scripts would be enhanced to deploy that container as a v1/Job to insert them into the cluster.
Eventual deployment would be via gluster/anthill#44.

[2018-12-18 18:53] JohnStrunk commented on #42
If this still isn't working, please re-open.

[2018-12-18 18:53] #42 closed

[2018-12-19 14:22] JohnStrunk opened #87 "Add Anthill to GCS deploy scripts"
[Anthill, the Gluster operator](https://github.com/gluster/anthill), should be deployed as a part of GCS deploy scripts.

[2018-12-19 20:29] sidharthanup opened #88 "Add cluster monitoring to the monitoring stack"
The monitoring stack in GCS currently only gives us metrics obtained from the gluster-exporter. It should also pick up node level metrics and cluster level metrics that can be obtained from node-exporter and kube-state-metrics exporter respectively. Also it should report metrics on the prometheus operator also as the operator by default exposes metrics that can be scraped by the deployed prometheu

[2018-12-19 20:39] sidharthanup commented on #88
I have removed the monitoring namespace and relocated the monitoring objects in the gcs namespace itself. Is a separate namespace for monitoring necessary? Functionality wise there is no issues in having it in gcs namespace only. Architecturally is there any advantage in having a separate monitoring namespace where the monitoring stack resides?
 @JohnStrunk @Madhu-1 Your thoughts?
Will revert back

[2018-12-19 22:42] JohnStrunk commented on #88
If the components are "things we would deploy as a part of gcs" (i.e., they would be deployed if and only if GCS is deployed), they should be in the gcs namespace.

If there are components that we are deploying because we need to make use of them, but any reasonable cluster would be providing that for us, it should probably go elsewhere. (example: etcd-operator would be provided by OLM... we shoul

[2018-12-20 14:00] rhinduja commented on #15
We did benchmarking around this bug wrt different resources (vcpus and ram)

=>    2 vcpus & 2gb
        we were able to scale upto 35 pvc after which the all etcd pods went to completed state.
=>    4 vcpus & 2gb
        we were able to scale upto 39 pvc after which the etcd pods went to completed state.
=>    2 vcpus & 4gb
        we were able to scale upto 39 pvc after which the etcd pods went

[2018-12-20 15:24] raghavendra-talur opened #91 "Decouple vagrant and ansible"
Currently ansible playbooks depends a little on how vagrant sets up the environment. In long term we want to satisfy two modes of development
1. For daily development, we need to have something that can setup a GCS environment on laptops and should be sufficient for a few PersistentVolumes.
2. For larger testing, we need to be able to deploy a bigger GCS environment on nodes already provisioned.

[2018-12-21 05:53] sidharthanup commented on #88
Ack. The prometheus operator would be provided by OLM as well(For now I'm putting it in the gcs namespace) . The rest of the components can be in the same namespace itself.

[2018-12-21 13:09] aravindavk commented on #15
One possible issue is filling up etcd space more than `2GiB` and etcd stops accepting more requests with "context deadline exceeded"(Also we need to figure out what is getting filled)

https://coreos.com/etcd/docs/latest/dev-guide/limit.html

[code]

We need a way to configure more size via etcd-operator or env variable.

[2018-12-21 15:19] aravindavk commented on #15
Fast growing etcd size is discussed here https://github.com/etcd-io/etcd/issues/8009 and solution recommended to use latest version of etcd.

[2018-12-21 20:49] JohnStrunk commented on #15
Another thing to consider is the [snapshot interval](https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md#--snapshot-count) and [compaction frequency](https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/maintenance.md#auto-compaction).

It looks like the snapshot interval [affects memory usage](https://coreos.com/etcd/docs/latest/tuning.html#snapshots)

[2018-12-24 07:05] aravindavk commented on #15
Yes. I think we need to try compaction config suggested by @JohnStrunk and increase the etcd storage limit by configuring `--quota-backend-bytes` to `6GiB` or `8GiB`(`8GiB` is maximum) (This also need to be configured using `etcdEnv` as shown in previous comment)

[2018-12-24 08:00] aravindavk commented on #15
@rmadaka also add the following to your etcd yml file

[code]

[2018-12-24 08:50] ksandha commented on #15
@aravindavk under etcdEnv ? The updated yaml file looks like the below one. Please correct if anything needs to change.
[code]

[2018-12-24 09:02] aravindavk commented on #15
LGTM. @Madhu-1 please check

[2018-12-24 14:50] rmadaka commented on #15
@atinmu @JohnStrunk

I have tried with above etcd config file and whatever aravinda mentioned about size, same thing i have incorporated  in etcd yaml file. Then i have deployed the gcs setup.

I tried for non  sequential ,  My script create pvcs continuously one by one without waiting to get bound previous pvc.

Kube node config: 32 gb ram, 8 vcpus

With Brick -Multiplex:

Script ran for 1000 pvc

[2018-12-26 13:00] atinmu commented on #15
@rmadaka @ksandha We need to get all the logs captured and start analyzing one issue at a time.

[2018-12-27 08:28] cloudbehl opened #92 "Problem faced while deploying GCS on OpenShift 3.11.*"
### **GCS deployment on OpenShift**

**Prerequisites:**
Deployed on Openshift 3.11 - 4 node setup(1-master, 3- compute, 1-infra)

**Inventory File for GCS used**
[code]

1. A path to kubectl command in deploy-gcs.yml playbook is incorrect

[code]

2. Gcs-node instead of kube-node in deploy-gcs playbook for deploying gd2 pods because in examples/inventory-gcs-only.example file there is no kube-node

[2018-12-27 09:07] ksandha commented on #15
@atinmu Do we need to carry out the testing with new etcd config suggested by @JohnStrunk & @aravindavk  or shall we continue with default config of etcd pods.

[2018-12-29 06:06] ksandha commented on #80
This issue is now resolved.

[2018-12-30 13:39] atinmu commented on #15
It seems the tuning has helped, many thanks @JohnStrunk . In none of our testing setup we couldn't see etcd pods going into completed state :-)

[2018-12-30 16:02] ksandha commented on #15
Can we make this default in the latest nightly ?

[2019-01-02 13:43] atinmu commented on #1
Default template of the volfiles can be found at https://github.com/gluster/glusterd2/blob/master/glusterd2/volgen/defaults.go#L47 .

[2019-01-02 13:47] amarts commented on #1
@nbalacha @raghavendrahg @xhernandez

[2019-01-02 14:51] atinmu commented on #25
This should be fixed through https://github.com/gluster/glusterd2/pull/1453

[2019-01-02 14:51] #25 closed

[2019-01-02 16:01] #87 closed

[2019-01-02 17:44] ksandha opened #95 "etcd pod in Error state for 10 mins after a node reboot"
1)  Created 50 PVC parallel requests.
2) While the pvc are getting processed , rebooted second node from the 3 node GCS cluster.
[code]

3) Observing the pvc stuck at 38 for the time being.
[code]
4) Eventually the gd2 pods and csi nodeplugin came up and running, but the etcd remain in the same state.
[code]
5) Wait for 10 mins, the etcd pod gets killed and a new pod is spun
[code]
6) The cluster

[2019-01-02 18:19] ksandha commented on #95
[etcd-9dnxxnvhq2.log](https://github.com/gluster/gcs/files/2721512/etcd-9dnxxnvhq2.log)
[etcd-9wz7txxx59.log](https://github.com/gluster/gcs/files/2721513/etcd-9wz7txxx59.log)
[etcd-dv6q2n7c27.log](https://github.com/gluster/gcs/files/2721514/etcd-dv6q2n7c27.log)

[2019-01-03 05:17] poornimag opened #96 "etcd pods goto Completed state"
vagrant@kube1 ~]$ kubectl get pods -ngcs
NAME                                   READY   STATUS      RESTARTS   AGE
csi-attacher-glusterfsplugin-0         2/2     Running     0          45m
csi-nodeplugin-glusterfsplugin-bh5ww   2/2     Running     0          45m
csi-nodeplugin-glusterfsplugin-d7db4   2/2     Running     0          45m
csi-nodeplugin-glusterfsplugin-vfd2v   2/2     Running     0

[2019-01-03 07:31] poornimag commented on #96
Looks like the errors are due to docker, https://github.com/openshift/origin/issues/21590
build docker-1.13.1-88 seems to have the fix, will verify the same and close the issue.

[2019-01-03 07:46] ksandha commented on #95
rhsqa-virt05.lab.eng.blr.redhat.com:/root/isse95_gd2.log
glusterd2 logs placed at above location

[2019-01-03 14:38] ksandha opened #97 "kubectl crashes after creating 1000 pvc"
1) Create a GCS cluster.
2) Start a parallel PVC creation and wait for for all the PVC
[code]
3) After a while kubectl crashes
[code]

[2019-01-03 15:06] ksandha commented on #97
[code]

[2019-01-03 15:36] ksandha commented on #97
[code]

[2019-01-03 17:12] ksandha commented on #97
Observations:-
1) Seeing the etcd pods going into completed state.
2) Total bound number of PVC are 716 ; total number of PVC issued are 1001
3) PVC are still not deleting gracefully.

[2019-01-03 18:51] ksandha commented on #97
[etcd-gj.log](https://github.com/gluster/gcs/files/2724962/etcd-gj.log)
[etcd-hv.log](https://github.com/gluster/gcs/files/2724963/etcd-hv.log)
[etcd-operator.log](https://github.com/gluster/gcs/files/2724964/etcd-operator.log)
[etcd-ss.log](https://github.com/gluster/gcs/files/2724965/etcd-ss.log)
[glusterd2_kubectlcrash.log](https://github.com/gluster/gcs/files/2724966/glusterd2_kubectlcrash.log

[2019-01-03 18:52] ksandha commented on #97
[csiattcher.log](https://github.com/gluster/gcs/files/2724974/csiattcher.log)

[2019-01-04 18:18] JohnStrunk commented on #96
I ran into this as well. The fix I went with was continuing to use the 1808.01 version of the centos/atomic-host Vagrant box. The 1811.01 version is the one that has the bad Docker version.

[2019-01-04 18:38] JohnStrunk commented on #97
I have seen this in Vagrant as well. The problem I had was that I overloaded the nodes (VMs) and various processes were getting oom-killed. Is that a possibility here? (from "NodeLost" and "unknown" pods states, it looks like it may be)

[2019-01-05 06:21] Madhu-1 opened #100 "antill pod going into CrashLoopBackOff state in kube 1.13.1"
Logs:-

[code]

[2019-01-07 05:16] atinmu commented on #34
@brainfunked @nigelbabu Should this issue stay as part of GCS/0.5 label?

[2019-01-07 06:15] ksandha commented on #25
Able to reproduce this on latest nightly too. Hence reopening it

[2019-01-07 07:25] PrasadDesala opened #101 "GCS deploy using vagrant is failing at "Wait for csi-provisioner to become available""
GCS deploy using vagrant is failing at "Wait for csi-provisioner to become available".

TASK [GCS | CSI Driver | Wait for csi-provisioner to become available] *********
Monday 07 January 2019  12:37:01 +0530 (0:00:01.177)       0:22:30.586 ********
FAILED - RETRYING: GCS | CSI Driver | Wait for csi-provisioner to become available (50 retries left).
FAILED - RETRYING: GCS | CSI Driver | Wait for cs

[2019-01-07 08:15] atinmu commented on #25
https://github.com/gluster/glusterd2/pull/1464 should address this.

[2019-01-07 08:16] Madhu-1 commented on #101
Fixed in #77

[2019-01-07 08:16] #101 closed

[2019-01-07 08:42] cloudbehl opened #102 "Remove "namespace" as Cluster Roles are not namespaced"
No need to provide the namespace for the ClusterRole.

https://github.com/gluster/gcs/blob/master/deploy/templates/gcs-manifests/gcs-csi.yml.j2#L13

[2019-01-07 08:47] cloudbehl commented on #102
same case over here in ClusterRoleBinding
https://github.com/gluster/gcs/blob/master/deploy/templates/gcs-manifests/gcs-csi.yml.j2#L32

[2019-01-07 09:44] PrasadDesala opened #103 "kubectl commands are failing with error "The connection to the server localhost:8080 was refused - did you specify the right host or port?" after successful deploy of gcs using vagrant"
kubectl commands are failing with error "The connection to the server localhost:8080 was refused - did you specify the right host or port?" after successful deploy of gcs using vagrant.

<snip/>

onday 07 January 2019  14:55:05 +0530 (0:00:00.541)       0:33:32.113 ********
===============================================================================
Install packages ----------------------------

[2019-01-07 09:52] Madhu-1 commented on #103
workaround

[code]

[2019-01-07 10:49] PrasadDesala commented on #103
Run this steps prior running below steps
mkdir -p $HOME/.kube

[2019-01-07 12:49] Madhu-1 commented on #100
Fixed in #99

[2019-01-07 12:49] #100 closed

[2019-01-07 21:41] JohnStrunk opened #106 "alertmanager-alert-* pods fail to start"
When deploying GCS, the alertmanager pods fail to start:
[code]

This seems to be due to a missing secret:
[code]

Taking the secret from here: https://raw.githubusercontent.com/coreos/prometheus-operator/master/contrib/kube-prometheus/manifests/alertmanager-secret.yaml and inserting it into the monitoring namespace as `alertmanager-alert` seems to fix the problem:
[code]

We probably shouldn't be

[2019-01-08 05:40] umangachapagain commented on #106
[code]
This is the `Base64 decode` of the Secret that @JohnStrunk applied.

Applying this secret fixes the issue of `alertmanager-alert` being in the `ContainerCreating` state but it still doesn't configure the alertmanager to do anything meaningful.

Ideally, the secret  applied should contain information about the alertmanager configuration.

[code]

This is the minimal configuration that I use

[2019-01-08 08:39] cloudbehl opened #108 "Integrate gluster mixins with GCS"
The integration will apply Gluster specific Grafana dashboard configs and Prometheus rule files using Prometheus Mixins.

[2019-01-08 10:47] cloudbehl opened #110 "[BUG] Grafana dashboard not reading changes from the config"

[2019-01-08 13:51] Madhu-1 commented on #103
this is because  `--insecure-port=8080 ` and `--insecure-bind-address=127.0.0.1`  are not there in kube-apiserver configuration.

is this removed in  kubespray which we are using?

@JohnStrunk ^^

[2019-01-08 21:31] JohnStrunk commented on #103
This issue was opened around the same time the update to 1.13 happened, so I suppose it could be a result of kubrspray changes.

[2019-01-11 13:05] umangachapagain opened #115 "Monitoring Stack Anomaly"
**1. Prometheus Server Configuration**
[code]
Same output for,
`[vagrant@kube1 ~]$ kubectl exec -ti prometheus-prometheus-1 -ngcs -- cat /etc/prometheus/prometheus.yml`

Looks like prometheus server pods are using the default configurations. Shouldn't this be configured to talk to `alertmanager` and scrape `gluster-exporter`? Currently, prometheus server only exposes it's own metrics.
[code]

[cod

[2019-01-11 15:50] sidharthanup commented on #115
@umangachapagain I deployed it fresh and there seems to be no issues. The prometheus server config file is not in `/etc/prometheus/prometheus.yml`, it is in `/etc/prometheus/config_out/prometheus.env.yaml` and the I can see that the whole configuration is loaded here. The operator by default deploys statefulset pods whose container is run with the argument `--config.file=/etc/prometheus/config_out

[2019-01-11 18:45] umangachapagain commented on #115
It is working (_Edited title accordingly_).  My concern here is, is it working the way it is expected to?

After some digging, found that `prometheus-operator` does discard  `/etc/prometheus/prometheus.yml` in favor of custom and additional config features. It generates `/etc/prometheus/config_out/prometheus.env.yaml` from `ServiceMonitor`s and additional or custom scrape configs provided and uses

[2019-01-11 20:11] sidharthanup commented on #115
Ack. Even i'm unsure why prometheus.yml file is there. Maybe raise an issue in the prometheus operator repo?

--config-file=/etc/prometheus/config/prometheus.yaml
why does this path not exist if it is being used as it is clearly seen in deployment

The path does exist though..The prometheus server pods have two containers in it :
1) the prometheus container
2) the prometheus config reloader contai

[2019-01-14 12:19] umangachapagain commented on #115
--config-file=/etc/prometheus/config/prometheus.yaml
why does this path not exist if it is being used as it is clearly seen in deployment

_prometheus config reloader_ container is not accessible on my setup. Can you verify?

Have re-deployed the setup more than 10 times and yet can't see.

I don't think it's related to port forwarding issue.

[2019-01-14 16:43] JohnStrunk commented on #106
I'm not sure we can do better than providing:
- a placeholder config that allows the system to start
- documentation on how to configure it properly

Alert configurations are very environment dependent, and I'm not sure we can even come up w/ a reasonable "demo" setup.

[2019-01-14 21:43] #110 closed

[2019-01-14 21:44] #108 closed

[2019-01-14 21:48] cloudbehl commented on #92
reference: https://github.com/gluster/gcs/issues/46

[2019-01-14 22:03] cloudbehl commented on #106
As provided by prometheus-operator[1]. The mixins can hold the config and documentation for now in extras directory.

Moving forward the configurations are being handled by Prometheus operator in OKD. Because monitoring stack is handled by them.

I think that should be possible If we add the config to the mixins and build and apply it via a container.

@JohnStrunk thoughts?
[1]. https://github.com

[2019-01-16 15:11] JohnStrunk commented on #49
Reducing scope for 1.0 because dependent projects lack dev bandwidth.

[2019-01-16 22:59] JohnStrunk opened #117 "GCS deployment guide"
*(Brought up in 2019-01-10 architecture call)*

For GCS 1.0, we need to have some sort of deployment guide
- How to get it up and running
- How to use it
  - Storage class, PVC, PV
  - Monitoring/dashboard
- Limitations

[2019-01-17 05:57] umangachapagain commented on #106
Agree with @JohnStrunk .
Default Secret + Documentation to configure is the best way to go.

[2019-01-21 05:34] #115 closed

[2019-01-21 07:44] PrasadDesala opened #118 "gluster pods are going to Pending state and respin of the pod might lead to version mismatch"
I have kept the system ideal for more than 2 days and today when I logged in I am seeing that gluster pods are going to Pending state and are being recreated.

Container respin in this case might lead to version mismatch (as we are pulling from nightly builds). Let's say I have 3 gluster pods g1,g2 and g3 which are running on gd2 version: 109 and if suppose have started a test which takes 3 days t

[2019-01-21 08:48] PrasadDesala opened #119 "csi-node going to Evicted state"
One of the csi-node is keep on going to Evicted state.
Below is the describe output after

[2019-01-22 06:45] PrasadDesala opened #120 "glustercli commands are failing because of an unhealthy gluster pod"
glustercli commands are failing because of an unhealthy gluster pod.

[root@gluster-kube1-0 glusterd2]# glustercli peer list
Failed to get Peers list

Response headers:
X-Gluster-Peer-Id: 0aea396e-4401-4bd7-9b40-66662b521112
X-Request-Id: cd7311f2-073b-48e8-98c8-f1f488fcdbed
X-Gluster-Cluster-Id: ef45b7f7-9d59-47cc-b1cb-cef3c643cb97

Response body:
context deadline exceeded
[root@gluster-kube1-0 g

[2019-01-22 06:50] PrasadDesala commented on #120
Steps performed:

1) Create a 3 node GCS setup using vagrant.
2) Create 500 PVCs (sequential).
3) Start delete 500 PVCs (sequential). However,only pvcs are deleted, pv and gluster volumes in backend are not deleted.
 Leave the system for sometime(more than 2 hrs) and run glustercli commands.

[2019-01-22 18:38] JohnStrunk commented on #118
Yes, that can certainly happen when running from master. Master intentionally uses "latest" (i.e., master) from all the associated repos.
For releases, we lock down all container versions. As an example, here is the commit for the 0.5 release: https://github.com/gluster/gcs/commit/a55daa26d1f76125eecda1c74cd6bd56c166182c

For your master deployment, you have two options... You can lock to a partic

[2019-01-22 18:44] JohnStrunk commented on #119
Looks like a couple things are going on here...
- We should probably put a (low) storage reservation on the CSI components to avoid the eviction
- We need to figure out what's eating the storage on the node. My hunch is GD2 or fuse logs.

[2019-01-22 18:52] JohnStrunk commented on #120
Problem is with etcd. You've lost 2 of the 3 pods:
[code]

[2019-01-23 08:27] umangachapagain opened #121 "Change in README is required"
https://github.com/gluster/gcs/commit/01f59bb2e1558fb0ddf8eace6346685870840931 provides Prometheus Rules, Alerts and Gluster specific Grafana Dashboards via `gluster-mixins`.

So, changes is required in the respective [readme](https://github.com/gluster/gcs/tree/master/deploy#accessing-prometheus-ui-and-grafana-dashboard-to-view-the-metrics) section to document the added feature and reduce the man

[2019-01-28 12:44] atinmu commented on #121
Who is working on this? This is currently marked as blocker for GCS 1.0.

[2019-01-28 12:46] atinmu commented on #103
@Madhu-1 This is currently marked for GCS 1.0. If this doesn't get fixed, can we please ensure we have this step mentioned in the deployment section?

[2019-01-28 12:49] Madhu-1 commented on #103
@atinmu let me update the kubespray version and check , if its not fixed i will add this steps to readme

[2019-01-29 04:32] umangachapagain commented on #121
@sidharthanup Are you taking this up?

[2019-01-29 18:27] #121 closed, assigned to sidharthanup

[2019-01-30 04:35] Madhu-1 opened #126 "support for loopback CSI driver"
need to add loopback CSI driver templates
need to create storage class
PVC and pod template to use loopback

dependent on https://github.com/gluster/gluster-csi-driver/issues/157

[2019-01-30 04:36] Madhu-1 commented on #126
@amarts ^^

[2019-01-30 04:38] aravindavk opened #127 "GCS Website pending things"
- [ ] Get google analytics code and add to `_config.yml` as `google_analytics_code`
- [ ] Content for "Powered by Gluster" box
- [ ] Content for "Ease of use" box
- [ ] Proofread content of all other boxes in home page
- [ ] Documentation - Quick start Guide
- [ ] Documentation - Installation
- [ ] Documentation - File Volumes
- [ ] Documentation - Block Volumes
- [ ] Documentation - Thin Arbiter

[2019-02-04 06:22] kotreshhr opened #129 "Failed to add devices, vagrant up hung."
Failed to add devices and vagrant up hung as below.
[code]

Following are the gd2 logs

kube1:
[code]

kube2:
[code]

[2019-02-04 09:19] aravindavk commented on #129
@oshankkumar ^^

[2019-02-04 14:15] #103 closed

[2019-02-05 10:08] atinmu commented on #117
This is fixed through https://github.com/gluster/gcs/pull/123. A wide part of it will be covered in the gcs website anyways.

[2019-02-05 10:08] #117 closed

[2019-02-05 13:53] #126 closed

[2019-02-07 15:50] #129 closed

[2019-02-07 18:50] JohnStrunk opened #134 "Grafana dashboard not showing gluster volumes"
During testing for GCS 1.0-pre, the Grafana dashboard is not displaying metrics for gluster volumes.

Once GCS is deployed, I created the following workload in namespace `test`:

[code]

[code]

After the workload started, I viewed the gluster Grafana dashboard, and the "Volume" dropdown only had the entry "None". All graphs either displayed "N/A" or "no data points". Datasource was the default: "

[2019-02-07 18:51] JohnStrunk commented on #134
ping: @sidharthanup @cloudbehl

[2019-02-08 09:48] umangachapagain commented on #134
AFAIK this happens because of multiple port forwarding and stuff that happens from pod to inside cluster to outside cluster, all they way up to the host. Which is why maybe Grafana is not able to resolve it initially.   @sidharthanup Correct me if I'm wrong.
However, If you create a new Datasource with exact same config from inside the Grafana UI, it works instantly. (This could be documented as a

[2019-02-09 13:52] muecahit94 opened #135 "failed to add device on a rancher(kubernetes)-cluster"
I have a problem, its not possible to add a device to gluster, wiped the device before and started ansible then it stuck here:

[code]
gluster2d.log:
`time="2019-02-09 13:42:12.834583" level=error msg="Device already exists" device=/dev/sdc error="<nil>" reqid=d7396582-f6a7-447b-bd02-2a70ee43a600 source="[rest.go:47:device.deviceAddHandler]"`

When i try it manually, it takes really long
` curl -i

[2019-02-11 06:24] aravindavk commented on #135
Error is saying device already exists. Login to one of the Glusterd2 pod and see `glustercli device info`

Is peer ID is used in place of `[ID]` in curl command?

[2019-02-11 09:01] ksandha opened #136 "python 2.7 used while installing requirements into gcs-env"
While installing gcs-env a warning appeared for python 2.7

[code]

[2019-02-11 09:52] Madhu-1 commented on #136
@ksandha that is the default python in your system, gcs will use the default python whatever is available.

[2019-02-11 10:28] muecahit94 commented on #135
this fixed my issue: https://github.com/gluster/gcs/pull/112/commits/e64b321720ab2e44d08876b345affd2c4e3e6fb7

[2019-02-11 11:45] muecahit94 opened #138 "driver name org.gluster.glusterfs not found in the list of registered CSI drivers"
I can create a new PVC, it works without any issue:
[code]

But when i want to use it on a container i get this issue:
[code]

I use the kubernetes cluster under rancher.
Kubernets version is  `v1.12.3`

I hope someone can help me.

[2019-02-11 11:50] Madhu-1 commented on #138
@muecahit94 current GCS support kube 1.13+ version

to deploy in kube  1.12 may be you need to update  driver register path in gcs deployment
from `var/lib/kubelet/plugins_registry` to `var/lib/kubelet/plugins` in https://github.com/gluster/gcs/blob/master/deploy/templates/gcs-manifests/gcs-fs-csi.yml.j2

[2019-02-11 14:41] cloudbehl commented on #134
@umangachapagain no clues why it is not working now? @sidharthanup any updates from your side?

[2019-02-12 06:40] #136 closed

[2019-02-12 08:27] kotreshhr opened #140 "RWO Volume request failed"
[code]

[2019-02-12 08:27] sidharthanup commented on #134
@aravindavk @aruniiird @shtripat Problem is in the gluster-prometheus side..gluster-prometheus is not exposing any of the gluster metrics, not even the ps ones. One of the latest refactoring PRs must have prevented this. Looking into it.

[2019-02-12 08:32] kotreshhr commented on #140
Glusterd2 logs from the node.

[code]

[2019-02-12 11:21] #135 closed

[2019-02-12 12:06] Madhu-1 opened #141 "remove host udev dependency"
https://github.com/gluster/gluster-containers/pull/126

[2019-02-12 12:07] Madhu-1 commented on #141
@JohnStrunk @kotreshhr PTAL

[2019-02-12 12:08] Madhu-1 commented on #141
https://github.com/gluster/gcs/pull/133

[2019-02-12 17:20] muecahit94 commented on #138
there is plugins_registry at three places:

[code]

when I change this part:
[code]

I got this error on csi-nodeplugin:
[code]

[2019-02-13 10:09] sidharthanup commented on #134
Disregard the previous comment. The metrics are available and exported properly...GCS was deployed incorrectly and hence the above issue. Now I did some debugging and as @JohnStrunk reports the grafana dashboard does not show any metrics:
![grafana-default](https://user-images.githubusercontent.com/21989660/52703424-52b13d00-2fa4-11e9-9f5b-7b1f5e3e4f10.png)

This is the volume capacity utilization

[2019-02-13 11:01] umangachapagain commented on #134
@anmolsachan Can you verify this? As far as I remember, this wasn't the case when we tested against 0.5.

[2019-02-13 11:29] anmolsachan commented on #134
@umangachapagain @sidharthanup Ack, Will verify whats the issue here.

[2019-02-13 13:09] anmolsachan commented on #134
@sidharthanup i deployed the GCS setup, I cannot see any gluster_volume* metrics in in prometheus. The grafana dashboards need those metrics for displaying the info.

$Volume is intended and needs to be there to select different volumes.

Thats translates to  volume='$Volume where $Volume is the selector.

[2019-02-13 13:10] poornimag opened #143 "RWO volumes sometimes fails with transaction errors"
Glusterd2 logs from kube1-0 :+1:

[code]

Kube2 logs:
[code]

Kube3 logs:
[code]

[2019-02-13 16:38] muecahit94 commented on #138
is there no way to deploy gcs on a kubernetes version 1.12.x ?

Pls give me some tips, what i could try out.

[2019-02-18 20:14] JohnStrunk commented on #141
Reading this issue, I'm confused.
@Madhu-1 Are you suggesting that the patch gluster/gluster-containers#126 that sets `obtain_device_list_from_udev = 0` in `lvm.conf` would fix the problem that we put a band-aid on via #133?

It looks like there is an lvm problem also accd to https://bugzilla.redhat.com/show_bug.cgi?id=1674485#c8 (linked from the BZ in the gluster-containers PR)

[2019-02-19 03:12] Madhu-1 commented on #141
@JohnStrunk yes you are right, LVM has an issue. i think downgrading lvm package fixes this  issue

[2019-02-19 04:05] kshlm opened #144 "GD2 pods should shutdown cleanly when requested"
When requested, GD2 pods should perform a clean shutdown. All mounted filesystems should be unmounted, and any loopback devices setup must be detached. This is required to allow safe upgrades in the future, as two pods cannot safely share lvm devices or loopback devices.

[2019-02-19 18:38] JohnStrunk commented on #134
Are there any updates or associated issues/PRs?

[2019-02-21 15:10] amarts commented on #140
Is it the same on latest container?  Did we get any further ?

[2019-02-22 14:03] blaggacao opened #145 "plugins_registry vs plugins path"
Not sure it's relevant, I just came across and it popped into my eyes...
https://github.com/gluster/gcs/blob/177c50b9f8f53c984e20cada8d4fde7c1cc6f2a0/deploy/templates/gcs-manifests/gcs-fs-csi.yml.j2#L224

I understand https://github.com/kubernetes/kubernetes/pull/70494 as it was only meant for the registration, not for the plugin socket itseff, see:
https://github.com/kubernetes-csi/csi-driver-hos

[2019-02-22 14:04] blaggacao commented on #145
/cc @Madhu-1

[2019-02-28 14:42] aravindavk opened #146 "Deployment changes to Loop back bricks"
Loop back bricks support is added in Gd2 and CSI driver. To include it in gcs following changes required.

- Similar to device details, Include the bricks hosting directory in manifest file as volume mount
- Deploy storage class

[2019-03-06 09:21] vpandey-RH opened #147 "Issue with deploy-gcs.yml"
When deploying GCS using deploy-gcs.yml playbook, have come across this error -

![screenshot from 2019-03-06 14-46-14](https://user-images.githubusercontent.com/33927873/53869717-c2a06980-401e-11e9-844f-6c79c3743895.png)

The kube cluster seems to be working fine.

Is it something to do with the ansible version ?

Current ansible version -

`[root@kube1 ~]# ansible --version
ansible 2.7.8
  confi

[2019-03-06 09:32] cloudbehl commented on #147
@vpandey-RH After cloning gcs. Try running the commands mentioned below. Then run the playbook. It should work.

[code]

[2019-03-06 09:33] vpandey-RH commented on #147
@cloudbehl  Tried this once before, didn't seem to work. But will try again.

[2019-03-06 09:51] vpandey-RH commented on #147
@cloudbehl  Thanks for the solution, seems to be working fine now.

[2019-03-07 06:50] kotreshhr commented on #147
Closing the issue as it worked following [comment](https://github.com/gluster/gcs/issues/147#issuecomment-470035773)

[2019-03-07 06:50] #147 closed

[2019-03-07 07:01] kotreshhr opened #148 "GD2 pods fails to come up if the kube cluster nodes have FQDN as hostname"
## Steps to reproduce

1. Installed kubernetes cluster on bare metal centos7 machine with nodes having FQDN has hostnames
2. Used `kubectl gluster deploy gcs.yaml` to install gcs

[code]
GD2 pods fail with following error

[code]

[2019-03-07 08:17] kotreshhr commented on #148
Closing thie issue as [PR](https://github.com/gluster/gcs/pull/149) fixing the issue is merged

[2019-03-07 08:17] #148 closed

[2019-03-08 06:22] poornimag opened #150 "Etcd pods goto error state while deploying"
[root@benki1 ~]# kubectl get pods -ngcs
NAME                             READY   STATUS    RESTARTS   AGE
etcd-b8smtb299s                  0/1     Error     0          85s
etcd-operator-77bfcd6595-h7wqf   1/1     Running   0          114s
etcd-q6h6lgdj67                  0/1     Running   0          102s

# kubectl logs etcd-b8smtb299s -ngcs
2019-03-08 06:20:02.291829 I | etcdmain: setting maximum

[2019-05-16 19:46] bulldozier commented on #119
I am also seeing csi-node evictions due to ephemeral storage, and I suspect it is causing pod evictions of other pods on the same node that are using the same shared storage.

[2019-05-21 10:23] frederik-b commented on #119
If I understand correctly, this happens because something is trying to write to /var/log/
I'm not using gluster atm, but happened to come across this issue while searching for solutions for my very similiar problem.

So request some epehemeral storage, or get rid of whatever is trying to log to /var/log/.

[2019-09-02 08:52] yudar1024 opened #153 "can not deploy due to the json.decoder.JSONDecodeError:"
the stack is follow
[code]

please consider provide a rendered k8s yaml file in deploy folder, because in China, is difficult to connect some destinations due to the GFW. if there are the rendered yaml files , we can pre-download/pull the materials via proxy. thank you.